<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Edit and Download JSON Metadata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="upload-container">
        <h1>Upload File</h1>
        <div class="upload-area" id="uploadArea">
            <p>Drag and Drop file here or <span id="chooseFile">Choose file</span></p>
            <input type="file" id="fileInput" accept=".txt.pptx.pdf.xlsx.zip">
        </div>
        <div class="file-info" id="fileInfo">
            <p id="fileName"></p>
            <p id="fileSize"></p> <!-- Display file size -->
            <div class="progress-bar" id="progressBar">
                <div class="progress" id="progress"></div>
            </div>
        </div>

        <div id="filePreview" style="margin-top: 20px;"></div>

        <div class="button-container">
            <button id="uploadButton">Upload</button>
            <button id="cancelButton">Cancel</button>
        </div>
        <pre id="status"></pre>

        <!-- Section for displaying and editing metadata -->
        <div class="metadata-section" id="metadataSection">
            <h3>Edit File Metadata</h3>
            <textarea id="metadataTextarea" oninput="autoResizeTextarea(this)"></textarea><br>
            <button id="saveChangesButton">Save Changes</button>
            <button id="downloadJsonButton">Download JSON</button>
            <pre id="saveStatus"></pre>
        </div>

        <!-- List of processed files -->
        <h3>Processed Files</h3>
        <div id="spinner" class="spinner"></div>
        <ul class="file-list" id="processedFilesList"></ul>
    </div>

    <div class="button-container">
        <button id="downloadAllButton">Download All Files</button> <!-- Add this line -->
    </div>
    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
